@model IEnumerable<EncryptApp.Models.FileModel>
@{
    ViewData["Title"] = "Menu";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style type="text/css">
   p {
   font-family: 'Press Start 2P', cursive;
   font-size: 180%;
   text-align: left;
   }
</style>

<p>Choose action<p/>
<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TextCipher">Cipher text</a>