@model IEnumerable<EncryptApp.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}
<section class="u-clearfix u-section-1" id="carousel_6944">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-style u-layout-cell u-left-cell u-palette-3-light-1 u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h3 class="u-custom-font u-text u-text-default u-text-1">Encrypt app</h3>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-1">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-1 u-section-2" id="carousel_c8e6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-34 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-heading-font u-text u-text-white u-text-1">Upload file to start encrypting</h2>
                  <p class="u-text u-text-font u-text-white u-text-2">This is an amazing template for many uses! Check it now!</p>
                </div>
              </div>
              <div class="u-align-right u-container-style u-layout-cell u-right-cell u-similar-fill u-size-26 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <a href="https://nicepage.com/html5-template" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-custom u-radius-4 u-btn-1">uPLOAD fILE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>