@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style type="text/css">
   h1, p {
   font-family: 'Press Start 2P', cursive;
   font-size: 180%;
   text-align: left;
   color: white;
   }
   p{
   font-size: 100%;
   }
</style>
<h1>@ViewData["Title"]</h1><br>
<p>There is should be my privacy :).</p>